<!DOCTYPE html>
<html>

<head>
	<title>EFT-Platform Integration</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="main">
		<h1>Voice Registration</h1>
		
		<form method="POST" action="{{ url_for('login') }}">
			<label for="first">
				Username:
			</label>
			<input type="email"
				
				name="email"
				placeholder="Enter your Username" required>

			<label for="password">
				Password:
			</label>
			<input type="password"
				
				name="password"
				placeholder="Enter your Password" required>

			<div class="wrap">
				<button type="submit"
						>
					Submit
				</button>
				
			</div>
		



			{% with messages = get_flashed_messages() %}
			{% if messages %}
			  {% for message in messages %}
				<div class="flash-message">{{ message }}</div>
			  {% endfor %}
			{% endif %}
		  {% endwith %}
		</form>
		<p>Not registered? 
			<a href="{{ url_for('register') }}"
			style="text-decoration: none;">
				Create an account
			</a>
		</p>
	</div>

	<div class="main">

		<h3>Voice Recognition</h3>
		<form method="POST" action="{{ url_for('live_audio') }}">
			<div class="wrap">
				
				<button type="submit"
				>
			Test your voice here
		</button>
			</div>
</body>

</html>
