<!DOCTYPE html>
<html>

<head>
	<title>EFT-Platform Integration</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="main">
		<h1>EFT-Platform Integration</h1>
		<h3>Enter your login credentials</h3>
		<form method="POST" action="{{ url_for('login') }}">
			<label for="first">
				Username:
			</label>
			<input type="email"
				
				name="email"
				placeholder="Enter your Username" required>

			<label for="password">
				Password:
			</label>
			<input type="password"
				
				name="password"
				placeholder="Enter your Password" required>

			<div class="wrap">
				<button type="submit"
						>
					Submit
				</button>
			</div>
		</form>
		<p>Not registered? 
			<a href="{{ url_for('register') }}"
			style="text-decoration: none;">
				Create an account
			</a>
		</p>
	</div>
</body>

</html>
